@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: Arial, Helvetica, sans-serif;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
10. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

a {
    color: white;
}

#west-side {
    background-image: url("background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 60%;
}

#logo-container {
    width: 100%;
    height: 10vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(2rem + 5vw);
}

#odin-logo {
    width: auto;
    height: 90%;
}

#logo-text {
    color: white;
    font-family: norsebold;
}

#credit-text {
    color: white;
    margin-bottom: 0.5em;
}

#east-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65vw;
    background-color: #f9fafb;
    gap: 2rem;
}

#form-intro-text {
    font-size: 1rem;
    max-width: 65ch;
    padding-left: 2rem;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 20%);
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    gap: 1rem;
}

#form-text {
    font-size: 1rem;
    max-width: 65ch;
    font-weight: bold;
}

.form-row {
    display: flex;
    gap: 5rem;
}

label {
    display: block;
    font-size: 0.75rem;
    font-weight: bold;
}

input {
    width: 16rem;
    border: 0.1rem solid #E5E7EB;
    border-radius: 4px;
}

input:focus {
    outline: 0.1rem solid blue;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 20%);
}

input:invalid {
    outline: 0.1rem solid red;
}

#form-submission-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 2em;
}

#create-button {
    border-radius: 10px;
    font-size: 1rem;
    width: 15rem;
    background-color: #596D48;
    color: white;
    padding: 0.5rem;
    font-weight: bold;
}

#account-text a:link,
#account-text a:visited {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

